.vinyl {
  position: relative;
  width: 260px;
  height: 260px;
}

.vinyl__disc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background:
    radial-gradient(circle at center, #111 20%, #000 60%, #111 100%),
    repeating-radial-gradient(circle, rgba(255,255,255,0.03) 0 2px, transparent 2px 4px);

  box-shadow:
    inset 0 0 20px rgba(0,0,0,1),
    0 0 20px rgba(255,120,40,0.2);
}

.vinyl__center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #ff7a2a;
}